import React from 'react'

import { NextPage } from 'next'

/**
 *
 * {{ properCase name }}
 *
 */

interface Props {}

const {{ properCase name }}: NextPage<Props> = () => {
  return (
    <div>
      {{ properCase name }}
    </div>
  )
}
 
 
export default {{ properCase name }}